.footer {
    background: var( --main-background, #2F324B);
    padding: 45px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer__logo {
    margin-right: 19px;
}

.footer__element {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    max-width: 127px;
}

.footer__text {
    display: flex;
    align-items: center;
    min-width: 220px;
}

.footer__paragraph-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__link-wrapper {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    margin-bottom: 5px;
    min-width: 220px;
}

.footer__link {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer__link-text {
    margin-bottom: 3px;
}

.footer__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid var(--main-color-white, #FFFFFF);
}

/* состояния */

.footer__link {
    transition: all 0.200s ease-in;
}

.footer__link:hover {
    filter: opacity(0.7);
}

/* адаптивы */

@media(max-width: 1024px) {

    .footer {
        padding: 37px 0 49px;
    }

    .footer__logo {
        width: 60px;
    }

    .footer__link-text {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 4px;
    }

    .footer__paragraph {
        font-size: 13px;
        line-height: 20px;
    }
}

@media(max-width: 768px) {

    .footer {
        padding-bottom: 0;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer__link-wrapper {
        min-width: auto;
    }

    .footer__text {
        min-width: auto;
    }

    .footer__logo {
        width: 50px;
    }

    .footer__paragraph-name {
        flex-basis: calc(100% + 60px);
        order: 1;
        color: rgba(255, 255, 255, .5);
        font-size: 12px;
        line-height: 17px;
        padding: 15px;
        background: #2A2C3F;
        margin: 25px -30px 0;
        text-align: center;
    }

    .footer__link-text, .footer__paragraph {
        display: none;
    }

    .footer__link {
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/header-phone-320.svg');
    }
}

@media(max-width: 320px) {

    .footer {
        padding: 25px 0 0;
    }

    .footer__logo {
        width: 30px;
    }

    .footer__element {
        max-width: 87px;
    }

    .footer__element {
        font-size: 8px;
        line-height: 11px;
    }

    .footer__link {
        width: 24px;
        height: 24px;
    }

    .footer__paragraph-name {
        font-size: 12px;
        line-height: 17px;
    }
}