.header {
    background-image: url('../img/back-header.png');
    padding: 40px 0 70px;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    
}

.header__link-call {
    align-items: center;
    position: absolute;
    top: 17px;
    right: 0;
    z-index: 5;
    visibility: hidden;
}

.header__link {
    font-weight: 400;
    font-size: 23.85px;
    line-height: 28px;
    position: relative;
    z-index: 1;
}

.header__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline solid var(--main-color-white, #FFFFFF);
    text-decoration-skip-ink: none;
}

.header__text {
    text-align: center;
}

.header__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 35px;
    width: 990px;
}

.header__element {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    width: 960px;
    margin-bottom: 90px;
}

.wrapper-text {
    display: inline-block;
    text-align: center;
    padding-left: 105px;
    margin-bottom: 50px;
    
}

.header__btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--main-color-white, #FFFFFF);
    background: #15A9CB;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    padding: 12px 48px;
}

/* адаптивы */

@media (max-width: 1110px) {
    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header-container {
        flex-wrap: wrap;
    }

    .header__link {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
    }

    .header__paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    .header__text {
        margin-right: 30px;
    }

    .wrapper-text {
        margin-right: 122px;
        
    }

    .header__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        width: 100%;
    }

    .header__element {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        width:100%;
    }

    .wrapper-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        
    .header__button {
        width: 200px;
        height: 48px;
    }
}

@media (max-width: 480px) {
    .header__logo {
        width: 30px;
        height: 30px;
    }

    .header__text {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .wrapper-text {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header__link, .header__paragraph {
        visibility: hidden;
        align-self: center;
    }

    .header__button {
        width: 160px;
        height: 38px;
    }

    .header__link-call {
        visibility: visible;
        top: 17px;
        right: -85px;
        margin-right: 15px; 
    }

}